.top_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.top_content .title {
    font-size: 26px;
}
.top_content .sub_title {
    font-size: 36px;
}
.action {
    padding: 20px;
    display: flex;
    align-items: center;
}
.action .demo a {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    border: 1px solid #1677ff;
    border-radius: 4px;
    cursor: pointer;
    color: #1677ff;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.action .demo a:hover {
    background: #1677ff;
    color: #fff;
}

.img_box img {
    width: 100%;
    height: 100%;
}

.feature_block {
    display: flex;
    align-items: center;
    padding: 40px 0;
}
.feature_desc {
    width: 50%;
}
.feature_image {
    width: 50%;
    padding: 0 20px;
}
.feature_title {
    font-size: 20px;
    padding: 20px 0;
}
.feature_desc .desc {
    text-indent: 2em;
}
.content_title {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 32px;
}
