/* Docs Rating Box */
.docsRatingContainer {
  display: flex;
  justify-content: center;
}

.docsRating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 337px;
  height: 75px;
  padding: 16px 40px 16px 40px;
  border: solid;
  border-radius: 8px !important;
  min-height: 66px;
  margin-top: 42px;
  text-align: center;
  color: #057594;
  line-height: 32px;
  font-weight: 500;
  border-radius: 0 var(--ifm-global-radius) var(--ifm-global-radius) 0;
}

.docsRating svg {
  height: 2.5em;
  width: 2.5em;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--ifm-color-primary);
  }
}

.docsRating .i_thumbsup {
  fill: #56a211;
  margin-left: 16px;
  cursor: pointer;
  /* transform: translateY(0.25em); */
}

.docsRating .i_thumbsdown {
  fill: #e9430f;
  margin-left: 10px;
  cursor: pointer;
  /* transform: scale(-1, -1) translateY(-0.25em); */
}

html[data-theme="dark"] .docsRating {
  color: #cee9f3;
}

@media only screen and (max-width: 996px) {
  .docsRating {
    width: 100%;
    margin: 36px 0 0 !important;
    border-radius: var(--ifm-global-radius);
  }
}
