.karpor_button a {
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(36, 41, 47);
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.karpor_button a .text {
  padding: 5px 15px;
  border-radius: 6px 0 0 6px;
  border: 1px solid rgb(208, 215, 222);
  background: #ebf0f4;
}

.karpor_button a .icon {
  padding: 5px 15px;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgb(208, 215, 222);
  border-left: none;
  background: #fff;
}

.karpor_button a:hover {
  text-decoration: none;
}

.karpor_button a .text:hover {
  text-decoration: none;
  background-color: #fff;
  color: rgb(36, 41, 47);
}
