.karpor_button a {
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(36, 41, 47);
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.karpor_button a .text {
  padding: 0 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgb(208, 215, 222);
  background: #ebf0f4;
}

.karpor_button a .icon {
  padding: 0 10px;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgb(208, 215, 222);
  border-left: none;
}

.karpor_button a:hover {
  text-decoration: none;
}

.karpor_button a .text:hover {
  text-decoration: none;
  background-color: rgba(36, 41, 47, 0.1);
  color: rgb(36, 41, 47);
}
