name: build-and-deploy
on: push
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - run: npm install
      - run: npm run build

      # TODO: set GITHUB_TOKEN_DEPLOY_KEY
      #- name: Deploy
      #  uses: peaceiris/actions-gh-pages@v3
      #  with:
      #    deploy_key: ${{ secrets.GITHUB_TOKEN_DEPLOY_KEY }}
      #    external_repository: KusionStack/kusionstack.github.io
      #    publish_dir: ./build
      #    publish_branch: main
